ul.nav.nav-sidebar
  li([router-active-class]="active"): a([router-link]="['/overview']") Overview
  li([router-active-class]="active"): a([router-link]="['/analytics']") Analytics
  li([router-active-class]="active"): a([router-link]="['/reports']") Reports
  li: a(href="#") Export
ul.nav.nav-sidebar
  li: a(href="") Nav item
  li: a(href="") Nav item again
  li: a(href="") One more nav
  li: a(href="") Another nav item
  li: a(href="") More navigation
ul.nav.nav-sidebar
  li: a(href="") Nav item again
  li: a(href="") One more nav
  li: a(href="") Another nav item
