h2.sub-header Reports
.table-responsive
  table.table.table-striped
    thead: tr
      th #
      th Name
      th Foo
      th Bar
      th Baz
    tbody: tr(*ng-for="#report of reports | async | filter:search.value")
      td {{ report.id }}
      td {{ report.name }}
      td {{ report.foo }}
      td {{ report.bar }}
      td {{ report.baz }}
