ul.nav.nav-sidebar
  li(ng-class="{active: main.path() == '/'}"): a(href='#/') Overview #[span.sr-only (current)]
  li(ng-class="{active: main.path() == '/reports'}"): a(href='#/reports') Reports
  li(ng-class="{active: main.path() == '/analytics'}"): a(href='#/analytics') Analytics
  li(ng-class="{active: main.path() == '/export'}"): a(href='#/export') Export
ul.nav.nav-sidebar
  li: a(href='') Nav item
  li: a(href='') Nav item again
  li: a(href='') One more nav
  li: a(href='') Another nav item
  li: a(href='') More navigation
ul.nav.nav-sidebar
  li: a(href='') Nav item again
  li: a(href='') One more nav
  li: a(href='') Another nav item
