nav
  ul.nav.masthead-nav(bs-nav)
    li(router-active-class=""): a(router-link="['/']") Home
    li(router-active-class=""): a(router-link="['/features']") Features
    li(router-active-class=""): a(router-link="['/contact']") Contact
